.header{
    background-color: linear-gradient(180deg, rgba(0,0,0,0.8),rgba(0,0,0,0) );
}
.headerWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    color: #fafafa;   
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1px;
}
.navigationMenu{
    display: flex;
    gap: 48px;
}