{#- Bu araç @keyiflerolsun tarafından | @KekikAkademi için yazılmıştır. -#}

{#- Footer Component -#}
<footer class="footer">
  <div class="container">
    <div class="footer-copy">
      <p>&copy; <span id="footer-year"></span><script>document.getElementById('footer-year').textContent=new Date().getFullYear()</script></p>
      <div class="footer-links">
        <span class="footer-brand">NetMovies</span>
      </div>
    </div>
  </div>
</footer>
